/* app css stylesheet */
table
{
	padding: 7px;
	border-collapse:collapse;
	background-color:#F3FFE8;
}
td
{
	border: 1px solid gray;
}
body
{
	background-color: #F2F2F2;
}
button {
	position:relative;
	width:120px;
	height:20px;
}
#submit {
	position: relative;
	top:25px;	left: -185px;
}
canvas {
	border: 1px solid black;
}
#layerCanvas {
	background: white;
	position: absolute;
	left: 600px;
	top: 75px;
	width: 500px;
	height: 300px;	
}
#graph {
	background: white;
	position: absolute;
	left: 600px;
	top: 450px;
	width: 500px;
	height: 300px;
	
}
#graphTitle {
	position:absolute;
	left:790px;
	top:412px;
}
#layers {
	position:absolute;
	top: 35px;
	left:820px;
}
