<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<meta charset="utf-8" />
		<title>Remsim</title>
		<meta name="description" content="" />
		<meta name="author" content="Christian Lambert" />
		<script src="js/jquery-1.10.1.js"></script>
		<script src="lib/angular/angular.js"></script>
		<script src="js/controllers.js"></script>
		<link rel="stylesheet" type="text/css" href="css/app.css" /> 
	</head>
	<body>
		<div>
			<header>
				<h1>Geant4 Web Interface</h1>
				<br />
				<a href="about.html" >About</a>
				<br />
				<br />
			</header>
			<div ng-controller="InputCtrl">
				<table>
					<tbody>					
						<tr ng-repeat="layer in numLayers">
							<form action="">
							<td> Layer {{layer}}
								<label>Pick a material</label>
								<select id='layer{{layer}}'>
									<option ng-repeat="material in materials | orderBy:orderProp" value="{{material.value}}">{{material.name}}</option>
								</select>
							</td>
							<td>
								Thickness:
								<input id="thick{{layer}}" type="text" ng-model="number" ng-class="numberCheck" defaultValue="0" min="0" /> 
								<select id='unit{{layer}}'>
									<option value="cm">cm</option>
									<option value="km">km</option>
									<option value="m">m</option>
									<option value="mm">mm</option>
								</select>
							</td>
							</form>
						</tr>
					</tbody>			
				</table>
				<button id='add' ng-click="addLayer()">Add a layer</button>
				<button id='remove' ng-click="removeLayer()">Remove a layer</button>
				<button id='submit' ng-click="submit()">Submit</button>
			</div>
			<div ng-controller="CanvasCtrl">
				<p id='layers'>Layers</p>
				<canvas id='layerCanvas'>
				</canvas>
				<p id='graphTitle'>Energy Deposited</p>
				<canvas id='graph'>
				</canvas>
			</div>
			<footer>
			</footer>
		</div>
	</body>
</html>
